<!DOCTYPE>
<html ng-app="myApp">
	<head>
		<title>scope</title>
		<meta charset="utf-8">
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body>
		<!-- ng-controller指令定义了一个控制器 -->
		<div ng-controller="myCtrl">

			名: <input type="text" ng-model="firstName"><br>
			姓: <input type="text" ng-model="lastName"><br>
			<br>
			姓名: {{param.firstName}}

		</div>

		<div ng-controller="myCtrl2">
			内容{{param.firstName}}
			<input ng-model='param.firstName' />
		</div>

		<script>
			var app = angular.module('myApp', []);
			var myCtrl={
				param:{
					firstName:''
				},
				init:function($scope){
					// var self=this;
					$scope.param=this.param;
					$scope.param.firstName='xinxin';
					this.param.firstName='xinxin';
				}
			}
			app.controller('myCtrl', function($scope) {
			    myCtrl.init($scope);
			});


			var myCtrl2={
				init:function($scope){
					$scope.param=myCtrl.param;
				}
			}
			app.controller('myCtrl2', function($scope) {
			    myCtrl2.init($scope);
			});
		</script>
	</body>
</html>