<!DOCTYPE>
<html ng-app="myApp">
	<head>
		<title>指令</title>
		<meta charset="utf-8">
		<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	</head>
	<body>
		<!-- ng-model指令 -->
		<h1>数据绑定</h1>
		<h2>价格计算器</h2>

		数量： <input type="number"	ng-model="quantity">
		价格： <input type="number" ng-model="price">

		<p><b>总价：</b> {{ quantity * price }}</p>

		<!-- ng-repeat指令 -->
		<h2>ng-repeat指令</h2>
		<div ng-init="names=[{name:'Jani',country:'Norway'},{name:'Hege',country:'Sweden'},{name:'Kai',country:'Denmark'}]">

			<p>循环对象：</p>
			<ul>
			  <li ng-repeat="x	in names">
			    {{ x.name + ', ' + x.country }}
			  </li>
			</ul>
		</div>

		<!-- 自定义指令 -->
		<h1>自定义指令</h1>
		<runoob-directive></runoob-directive>
		<div class="runoob-directive"></div>
		<div runoob-directive></div>
		<!-- 指令: runoob-directive -->

		<script>
			var app = angular.module("myApp", []);
			app.directive("runoobDirective", function() {
			    return {
			        template : "<h1>自定义指令!</h1>"
			    };
			});
		</script>
	</body>
</html>